body {
  box-sizing: border-box;
  font-family: "Open Sans", Arial, sans-serif;
}

header.slider {
  max-width: 100%;
  height: 100vh;
}
header.slider nav.navbar {
  padding: 1.5rem 1rem;
}
header.slider nav.navbar .disappear {
  display: none;
}
header.slider nav.navbar .navbar-toggler {
  border: none;
  position: absolute;
  right: 2px;
  font-size: 22px;
}
header.slider nav.navbar .box {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  text-align: center;
  padding: 4px;
  font-size: 28px;
  font-weight: bold;
  margin: auto;
}
header.slider div.list {
  background-color: #fff;
  display: none;
  height: 100vh;
  width: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  padding-top: 170px;
}
header.slider div.list ul li {
  padding-bottom: 15px;
  font-size: 20px;
  line-height: 1.8;
  font-weight: 300;
  text-align: center;
  list-style: none;
  font-size: 20px;
  display: none;
}
header.slider div.list ul li a {
  color: black;
}
header.slider div.list ul li a:hover {
  text-decoration: none;
}
header.slider .img-fluid {
  height: 100vh;
  background: linear-gradient(rgba(128, 128, 128, 0.3), rgba(128, 128, 128, 0.3)), url(../images/slider.jpg);
  background-size: cover;
  background-position: center center;
  padding-top: 250px;
  color: #fff;
  text-align: center;
}
header.slider .img-fluid h1 {
  font-size: 6vw;
  font-family: "Playfair Display", serif;
  font-weight: 900;
}
header.slider .img-fluid button {
  width: 200px;
  height: 50px;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  font-size: 14px;
  cursor: pointer;
}
header.slider .img-fluid button:hover {
  background-color: #fff;
  color: black;
}

section.best-food {
  margin-top: 100px;
  max-width: 100%;
}
section.best-food h2 {
  text-align: center;
  font-size: 40px;
}
section.best-food .row {
  margin-top: 70px;
  max-width: 100%;
  height: auto;
  display: flex;
  margin: auto;
}
@media screen and (width: 768px) {
  section.best-food .row .sm-screen {
    margin: 20px 0;
  }
}
section.best-food .row .first-image {
  background-image: url(../images/img_1.jpg);
}
section.best-food .row .second-image {
  background-image: url(../images/img_2.jpg);
}
section.best-food .row .third-image {
  background-image: url(../images/img_3.jpg);
}
section.restaurant {
  margin-top: 200px;
  max-width: 100%;
}
section.restaurant .restaurant-text {
  box-sizing: border-box;
  padding-left: 15vw;
}
@media screen and (max-width: 600px) {
  section.restaurant .restaurant-text {
    padding-left: 10px;
  }
}
section.restaurant .restaurant-text p {
  font-size: 22px;
  color: gray;
  line-height: 2rem;
  margin-top: 50px;
}

section.image {
  max-width: 100%;
  height: auto;
  margin-top: 100px;
}

section.chef {
  max-width: 100%;
  height: auto;
  margin-top: 100px;
}
section.chef h2 {
  text-align: center;
}
section.chef .name {
  max-width: 100%;
  display: flex;
}
section.chef .name .img-fluid {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-left: 110px;
}
@media screen and (max-width: 600px) {
  section.chef .name .img-fluid {
    margin-left: 85px;
  }
}
@media screen and (max-width: 400px) {
  section.chef .name .img-fluid {
    margin-left: 60px;
  }
}

section.meun {
  max-width: 100%;
  margin-top: 200px;
}
section.meun h2 {
  text-align: center;
}
section.meun p.sub-heading {
  text-align: center;
  color: gray;
  font-size: 20px;
  margin-bottom: 100px;
}
section.meun .nav {
  margin: 0 auto;
}
section.meun .nav a {
  height: 40px;
  margin-left: 15px;
  font-size: 18px;
  color: gray;
  font-weight: 600;
  border-bottom: 2px solid gray;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  cursor: pointer;
}
section.meun .nav a.first {
  color: #ff7a5c;
  border-bottom: 2px solid #ff7a5c;
}
section.meun .card {
  max-width: 800px;
  margin: 50px auto;
  border: none;
  border-bottom: 1px dotted gray;
  height: auto;
}
section.meun .card.first-card {
  margin: 50px auto;
}
@media screen and (max-width: 600px) {
  section.meun .card {
    padding: 0 5px;
  }
}
section.meun .card .card-img {
  width: 100px;
  height: 100px;
}
section.meun .card .card-body {
  padding: 0 30px;
}
section.meun .card .card-body h3.card-title {
  font-size: 28px;
  font-family: "Playfair Display", serif;
  text-transform: capitalize;
  color: black;
}
section.meun .card .card-body p.card-text {
  color: gray;
  font-size: 20px;
  margin-bottom: 50px;
}
@media screen and (max-width: 600px) {
  section.meun .card .card-body {
    padding: 15px 0;
  }
}
section.meun .card .price {
  color: #ff7a5c;
  font-size: 18px;
  margin-bottom: 20px;
}

section.services {
  max-width: 100%;
  height: auto;
  margin-top: 200px;
}
section.services h2 {
  text-align: center;
}
section.services div {
  text-align: center;
}
section.services div.row {
  margin-top: 80px;
}

section.reservation {
  margin-top: 200px;
  background-color: #f8f9fa;
  width: 100%;
  height: auto;
  padding-bottom: 20px;
}
section.reservation h2 {
  margin-top: 90px;
}
section.reservation .bg-white {
  margin-bottom: 100px;
}
section.reservation form .from-group {
  width: 260px;
  margin: 10px 0;
}
section.reservation form .from-group label {
  margin: 0 0 5px;
  color: gray;
  font-size: 18px;
  font-weight: bold;
}
section.reservation form .from-group .icon-input {
  width: 260px;
  position: relative;
}
section.reservation form .from-group .icon-input .form-control {
  max-width: 100%;
  border-radius: 3px;
  border: 2px solid #cccccc;
  color: gray;
}
section.reservation form .from-group .icon-input .form-control:focus {
  border: 2px solid #ff7a5c;
  box-shadow: none;
}
section.reservation form .from-group .icon-input .form-control:hover {
  border: 2px solid #ff7a5c;
}
section.reservation form .from-group .icon-input .icon {
  position: absolute;
  top: 20%;
  right: 20px;
}
section.reservation form button {
  margin: 20px 0 50px;
  background-color: #fff;
  width: 280px;
  border-radius: 3px;
  border: 2px solid #ff7a5c;
  text-transform: uppercase;
  text-align: center;
  color: #ff7a5c;
  font-weight: bold;
  letter-spacing: 0.2rem;
}
section.reservation form button:hover {
  background-color: #ff7a5c;
  color: black;
}

section.reviews {
  max-width: 100%;
}
section.reviews h2 {
  text-align: center;
}

section.get {
  margin-top: 200px;
  background-color: #f8f9fa;
  max-width: 100%;
  padding-top: 150px;
}
section.get h2 {
  text-align: center;
}
section.get form {
  margin: 100px 0 120px;
  width: 900px;
}
section.get form .first-row {
  margin: 40px 0;
}
section.get form .form-group {
  margin: 10px 0;
  padding: 2px;
  position: relative;
  width: 260px;
}
section.get form .form-group label {
  margin: 0 0 5px;
  color: gray;
  font-size: 18px;
  font-weight: bold;
}
section.get form .form-group .icon {
  position: absolute;
  top: 58%;
  right: 20px;
  color: gray;
}
section.get form .form-group .form-control {
  max-width: 100%;
  border-radius: 3px;
  border: 2px solid #cccccc;
  color: gray;
}
section.get form .form-group .form-control:focus {
  border: 2px solid #ff7a5c;
  box-shadow: none;
}
section.get form .form-group .form-control:hover {
  border: 2px solid #ff7a5c;
}
section.get form button {
  margin: 20px 0 50px;
  background-color: #fff;
  width: 280px;
  border-radius: 3px;
  border: 2px solid #ff7a5c;
  text-transform: uppercase;
  text-align: center;
  color: #ff7a5c;
  font-weight: bold;
  letter-spacing: 0.2rem;
}
section.get form button:hover {
  background-color: #ff7a5c;
  color: black;
}
section.get form .textArea {
  width: 87%;
  margin: 0 auto 50px;
}

footer.sectionFooter {
  width: 100%;
  height: auto;
  background-color: #121212;
  color: #ffff;
}
footer.sectionFooter p {
  color: gray;
  margin-bottom: 30px;
  line-height: 1.8;
}
footer.sectionFooter p .icon {
  color: #dc3545;
}
footer.sectionFooter p .text-color {
  color: #ff7a5c;
}
footer.sectionFooter button {
  border: 2px solid #ff7a5c;
  color: #ff7a5c;
  text-transform: uppercase;
  background-color: black;
  font-weight: bold;
  letter-spacing: 0.2rem;
}
footer.sectionFooter button:hover {
  background-color: #ff7a5c;
  color: #121212;
  font-weight: bold;
}
footer.sectionFooter .soical-icon {
  margin-right: 20px;
}
footer.sectionFooter .form-group {
  position: relative;
}
footer.sectionFooter .form-group .icon {
  position: absolute;
  top: 26%;
  right: 20px;
  color: #121212;
}
footer.sectionFooter .form-group .form-control {
  max-width: 100%;
  border-radius: 0em;
  border: 2px solid #121212;
  color: gray;
}

section.best-food .row .first-image, section.best-food .row .second-image, section.best-food .row .third-image {
  width: 360px;
  height: 350px;
  background-size: cover;
  background-position: center center;
}

section.best-food .row .first-text, section.best-food .row .second-text, section.best-food .row .third-text {
  width: 350px;
  height: 350px;
  padding: 50px;
  text-align: center;
}
section.best-food .row .first-text h4, section.best-food .row .second-text h4, section.best-food .row .third-text h4 {
  color: #ff7a5c;
  font-size: 18px;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
}
section.best-food .row .first-text h3, section.best-food .row .second-text h3, section.best-food .row .third-text h3 {
  font-family: "Playfair Display", serif;
  margin: 30px 0;
  font-size: 20px;
  text-transform: uppercase;
}
section.best-food .row .first-text p, section.best-food .row .second-text p, section.best-food .row .third-text p {
  margin-bottom: 38px;
  font-size: 18px;
  color: gray;
}
section.best-food .row .first-text a, section.best-food .row .second-text a, section.best-food .row .third-text a {
  color: black;
  font-size: 12px;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}
section.best-food .row .first-text a:hover, section.best-food .row .second-text a:hover, section.best-food .row .third-text a:hover {
  text-decoration: none;
}

section.best-food h2, section.restaurant .restaurant-text h2, section.chef h2, section.meun h2, section.services h2, section.reservation h2, section.reviews h2, section.get h2 {
  color: black;
  font-family: "Playfair Display", serif;
  text-transform: capitalize;
  font-size: 50px;
}

section.chef .name .first-chef, section.chef .name .second-chef {
  margin: 0 auto;
  width: 470px;
  padding: 15px;
}
section.chef .name .first-chef h3, section.chef .name .second-chef h3 {
  margin: 25px 0 3px 0;
  text-transform: capitalize;
  font-size: 24px;
  font-family: "Playfair Display", serif;
  text-align: center;
}
section.chef .name .first-chef p, section.chef .name .second-chef p {
  color: gray;
  font-size: 20px;
  margin-bottom: 18px;
  text-align: center;
  line-height: 2rem;
}
section.chef .name .first-chef p.sub-heading, section.chef .name .second-chef p.sub-heading {
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 15px;
}
section.chef .name .first-chef p.social a, section.chef .name .second-chef p.social a {
  color: #ff7a5c;
  margin-left: 10px;
}

section.best-food .sub-heading, section.services p, section.reservation p.sub-heading {
  font-size: 20px;
  color: gray;
  text-align: center;
}

footer.sectionFooter h3 {
  margin: 50px auto 20px;
  text-transform: capitalize;
  font-family: "Playfair Display", serif;
  font-size: 20px;
}

/*# sourceMappingURL=style.css.map */
